.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselImage {
  width: 100%; /* Ajusta la imagen al tamaño del contenedor */
  max-height: 400px; /* Establece una altura máxima */
  object-fit: cover; /* Recorta la imagen manteniendo las proporciones */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.carouselImage:hover {
  transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Agrega sombra para el efecto */
}
