.bgCarousel {
  background-image: url("../images/fondosImages/fondoBlack.jpg");
  background-size: cover;
}

.imgFluid {
  width: 50%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra el espacio de la columna */
  max-height: 500px; /* Ajusta la altura máxima según lo necesites */
}
